.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: var(--swiper-pagination-bottom);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 14px;
  background: #848c94;
  border-radius: 10px;
}
